@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
  525 S CHURCH ST<br />
  #3105<br />
  CHARLOTTE NC 28202-3337<br />
</address>

<address>
    <strong>Information:</strong> <a href="mailto:Info@ATAPConsulting.com">Info@ATAPConsulting.com</a><br />
</address>
