@page
@model IndexModel
@{
  ViewData["Title"] = "Home Page";
  ViewData["BackGroundImage"] = "./images/static/comingsoon.png";
}



<div class="full.width">
  <h1><span>ATAP</span> Technology Inc.</h1>
  <h2>Website and consulting services <span>Coming Soon!</span></h2>
</div>
  
