@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This site does not provide any login functions nor does the site contain code that operates on any information submitted by visitors. However, all sites log information about requests that are made to the web site, and this site will create and retain the standard web server logs</p>
